<!DOCTYPE html>
<html lang="id">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Pepper Greeting</title>
  <link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="../css/greeting_screen_style.css">
</head>
<body>
  <div class="container">
    <a href="../index.html"><button class="back-button">← Kembali</button></a>
    <div class="content">
      <div class="text">
        <!-- <h1>Halo👋, <span class="nama">[nama]</span>!</h1> -->
        <p>Maaf ☹️, saya belum mengenali Anda. Tapi saya senang sekali bisa bertemu hari ini!</p>
      </div>
      <div class="robot">
        <img src="../images/pepper_confuse.png" alt="Pepper Robot">
      </div>
    </div>
  </div>
</body>
</html>
