{% extends "base.html" %} {% block title %} Control Pepper {% endblock title %}
{% block content %} {{ super() }}

<div>
  <a href="/" class="back-button">
    <img src="{{ url_for('static', filename='images/back.png') }}" alt="Back" />
    <div>Kembali</div>
  </a>
  <div class="movement-content">
    <h1>Control Pepper</h1>
    <div class="wrapper-control">
      <a href="/movement-robot-dance" class="card-control">
        <img
          src="{{ url_for('static', filename='images/pepper-dance.png') }}"
          alt="Pepper Dance"
        />
        <p>Pepper Dance</p>
      </a>

      <a href="/movement-robot-walk" class="card-control">
        <img
          src="{{ url_for('static', filename='images/pepper-walk.png') }}"
          alt="Pepper Walk"
        />
        <p>Pepper Jalan Jalan</p>
      </a>
    </div>
  </div>
</div>
{% endblock content %} {% block script_general %} {{ super() }}
<script></script>
{% endblock script_general %}
